
@import '../variables.less';
@import '../mixins.less';
@import '../type.less';
 
body { background-color: @gray-lighter; }

.main {
	margin: 0 auto;
 	float: none;
}

ul.sub-list {
    padding: 0;
    margin: 0 0 9px 15px;
}

div.introduction {
	padding: 0;
    margin: 9px 0 9px 0;
}

hr { display: block; height: 1px; border: 0; border-top: 1px solid @gray-darker; margin: 1em 0; padding: 0; }

.header {
	.page-header;
	border-bottom: 0px solid @gray-darker !important;;
}

a {
	color: @brand-info;
}